# Finnq Data Generation

## Chris | Alexander | Samad (CAS)

---

**"We are looking to understand how using a user persona model will allow for greater optimisation and a better, personalised user experience for incoming FinnQ users."**

### Research

Upon searching for datasets that would emulate the FinnQ dataset, we realised that we would not be able to find one accurate enough.

However, in order to generate the dataset required to train the model, we can take some inspiration from other datasets that may have one or two similar columns.

Here are the datasets we have used for inspiration:
- https://users.nber.org/~rdehejia/data/.nswdata2.html (NSW Data - Lalonde)
- http://hdr.undp.org/sites/all/themes/hdr_theme/country-notes/KOR.pdf (Korean HDI, 2018)
- Personal experience.

---

### Data Generation

In [47]:
# IMPORT LIBRARIES
import pandas as pd
import numpy as np
import math
import statistics as stat
import random
from scipy.stats import skewnorm

#### Sign Up (Pre-)Data

This is the data that will be acquired from users answering questions when they first sign up to the app. It will allow for initial classification.

**Categorical:** 
- Age
- Gender
- GNI per capita, PPP`($)`
- Level of education
- Reason for downloading Finnq (this can be split into 5 different categories):
    - Saving
    - Cash transfers
    - Mobile banking
    - Insurance
    - P2P investing
    - Gift cards
    - Everything
    - Not really sure

This is the data that will be acquired once users rack-up more hours on the platform. We can use this data as a way to tailor experience for future new users.

**App Use variables:**
- Time spent on individual screens
- Type of account linked
- User of particular features

We want to have enough data to make valuable insights. Thus, we will be generating a dataset of 1000 users.

In [44]:
### Generation
random.seed(100)

# set amount of users
user_num = 1000

# generate data frame for users to be filled
# we have 5 columns
columns = ['Age (years)', 'Gender', 'GNI per capita (PPP $)', 'Education (years)', 'Reason']
signup_df = pd.DataFrame(index=range(user_num), columns=columns)
signup_df

    Age (years) Gender GNI per capita (PPP $) Education (years) Reason
0           NaN    NaN                    NaN               NaN    NaN
1           NaN    NaN                    NaN               NaN    NaN
2           NaN    NaN                    NaN               NaN    NaN
3           NaN    NaN                    NaN               NaN    NaN
4           NaN    NaN                    NaN               NaN    NaN
..          ...    ...                    ...               ...    ...
995         NaN    NaN                    NaN               NaN    NaN
996         NaN    NaN                    NaN               NaN    NaN
997         NaN    NaN                    NaN               NaN    NaN
998         NaN    NaN                    NaN               NaN    NaN
999         NaN    NaN                    NaN               NaN    NaN

[1000 rows x 5 columns]

In [112]:
random.seed(100)
np.random.seed(100)
# ages from around 15 to 80
ages = []
[ages.append(random.randrange(15,80,1)) for i in range(user_num)]

# gender roughly 50/50 split
# 1 = male
# 0 = female
gender = []
[gender.append(random.randrange(0,2,1)) for i in range(user_num)]

# income distribtion
# generate with a right skew mean 
# $35,945 = GNI per capita
income = []
# generate constants for right skew
c = skewnorm.rvs(a=2, size=user_num)
[income.append(35945) for i in range(user_num)]
skew_income = income * c
income = skew_income.tolist()
income = [abs(number) for number in income]

# level of education (years) left skew
# range 0 - 20+
educ = []
# expected years of education = 16
b = skewnorm.rvs(a=0.5, size=user_num)
[educ.append(16) for i in range(user_num)]
skew_educ = educ * b
educ = skew_educ.tolist()
educ = [round(i) for i in educ]
educ


# reason for downloading Finnq

[1,
 -31,
 7,
 6,
 30,
 14,
 21,
 16,
 -1,
 -23,
 -13,
 11,
 16,
 14,
 -27,
 -8,
 -8,
 0,
 18,
 -3,
 15,
 -13,
 13,
 -21,
 18,
 -7,
 14,
 4,
 16,
 -19,
 4,
 37,
 8,
 14,
 7,
 26,
 -5,
 8,
 36,
 -6,
 -10,
 -9,
 -11,
 -8,
 6,
 3,
 -18,
 -10,
 3,
 8,
 5,
 22,
 -1,
 8,
 14,
 24,
 3,
 6,
 -9,
 -8,
 -5,
 22,
 -12,
 12,
 -11,
 21,
 -7,
 12,
 -15,
 4,
 11,
 1,
 -5,
 14,
 -1,
 16,
 0,
 4,
 -2,
 -9,
 9,
 0,
 -8,
 15,
 22,
 -29,
 -21,
 4,
 19,
 18,
 -2,
 -1,
 -20,
 16,
 0,
 -13,
 -18,
 1,
 47,
 33,
 24,
 -26,
 14,
 -4,
 11,
 22,
 4,
 -6,
 -1,
 -22,
 40,
 -22,
 -2,
 1,
 -9,
 2,
 -3,
 -29,
 -11,
 5,
 7,
 15,
 -1,
 18,
 -7,
 21,
 4,
 -3,
 0,
 12,
 4,
 8,
 17,
 31,
 37,
 -1,
 13,
 18,
 4,
 -7,
 14,
 -26,
 -27,
 -13,
 -15,
 -14,
 12,
 34,
 1,
 4,
 24,
 3,
 -11,
 -5,
 -9,
 22,
 6,
 19,
 26,
 16,
 16,
 21,
 3,
 -4,
 14,
 -11,
 4,
 25,
 31,
 -12,
 8,
 13,
 14,
 18,
 1,
 -32,
 -9,
 -6,
 0,
 11,
 10,
 -10,
 21,
 15,
 2,
 9,
 18,
 5,
 -7,
 3,
 19,
 -9,
 25,
 41,
 -5,
 -7,
 -26,
 1,
 -3,
 -4,
 27,
 10,
 16,
 -4,
 -8,
 2,
 22,
 0,
 -26,
 -6,
 -1,
 19,
 17,
 -11,
 17,
 16,
 4,
 -1,
 -12,
 -2,
 -5,
 3,
 6,
 7,
 10,
 -5,
 8,
 -21,
 15,
 6,
 13,
 0,
 -8,
 -33,
 18,
 -4,
 -7,
 -1,
 16,
 35,
 -12,
 16,
 10,
 -14,
 37,
 14,
 30,
 18,
 4,
 -6,
 1,
 2,
 20,
 28,
 34,
 -3,
 -12,
 -4,
 -13,
 1,
 -2,
 12,
 1,
 14,
 -1,
 19,
 -27,
 -3,
 9,
 9,
 -8,
 -10,
 -22,
 -23,
 21,
 17,
 8,
 42,
 20,
 7,
 6,
 10,
 -4,
 24,
 13,
 30,
 12,
 -23,
 21,
 -17,
 -19,
 -2,
 3,
 6,
 17,
 25,
 -2,
 7,
 31,
 43,
 -15,
 -12,
 -1,
 11,
 11,
 5,
 25,
 -7,
 15,
 38,
 -8,
 -24,
 2,
 -17,
 50,
 27,
 21,
 -17,
 35,
 41,
 15,
 21,
 -13,
 -20,
 14,
 5,
 11,
 19,
 10,
 -5,
 8,
 6,
 6,
 17,
 -5,
 1,
 6,
 -2,
 22,
 29,
 5,
 2,
 -24,
 10,
 4,
 -18,
 17,
 13,
 6,
 19,
 5,
 7,
 -10,
 -2,
 22,
 35,
 2,
 6,
 16,
 18,
 31,
 -13,
 20,
 2,
 27,
 12,
 19,
 6,
 4,
 -19,
 -26,
 -10,
 4,
 -1,
 -6,
 -5,
 14,
 12,
 -25,
 9,
 -1,
 12,
 24,
 -3,
 1,
 -7,
 18,
 27,
 27,
 47,
 -1,
 3,
 13,
 19,
 24,
 -4,
 16,
 5,
 14,
 -1,
 21,
 -16,
 21,
 13,
 8,
 -10,
 -28,
 9,
 -21,
 8,
 -8,
 -26,
 -9,
 4,
 34,
 3,
 11,
 15,
 19,
 17,
 48,
 -4,
 21,
 -15,
 32,
 -9,
 1,
 -21,
 -12,
 26,
 0,
 -9,
 0,
 -11,
 0,
 8,
 8,
 -20,
 -8,
 1,
 -6,
 -13,
 9,
 -1,
 6,
 14,
 10,
 20,
 -7,
 34,
 -12,
 12,
 7,
 18,
 14,
 19,
 0,
 13,
 -7,
 0,
 -21,
 -11,
 18,
 8,
 43,
 -25,
 10,
 7,
 -7,
 -5,
 -3,
 -7,
 15,
 -12,
 23,
 1,
 3,
 19,
 42,
 7,
 29,
 2,
 5,
 17,
 13,
 22,
 14,
 13,
 4,
 9,
 28,
 -4,
 6,
 7,
 -2,
 -15,
 44,
 6,
 -18,
 0,
 16,
 -23,
 42,
 -1,
 14,
 0,
 28,
 -8,
 -9,
 -3,
 19,
 -34,
 -30,
 15,
 -5,
 -5,
 23,
 6,
 0,
 -8,
 8,
 -10,
 14,
 17,
 14,
 17,
 -3,
 16,
 -23,
 24,
 -29,
 38,
 13,
 -7,
 13,
 15,
 23,
 -5,
 24,
 -2,
 -6,
 1,
 23,
 25,
 -13,
 2,
 20,
 -5,
 -32,
 -10,
 23,
 35,
 25,
 5,
 15,
 8,
 3,
 3,
 -1,
 9,
 11,
 19,
 16,
 5,
 18,
 0,
 35,
 12,
 0,
 -5,
 9,
 9,
 11,
 -4,
 8,
 12,
 -1,
 -1,
 -1,
 -19,
 -8,
 -5,
 -3,
 -8,
 14,
 13,
 3,
 5,
 4,
 20,
 13,
 23,
 5,
 10,
 12,
 20,
 14,
 11,
 23,
 -7,
 14,
 4,
 -11,
 -13,
 0,
 9,
 10,
 3,
 -1,
 -1,
 8,
 -4,
 -9,
 -2,
 12,
 14,
 3,
 -5,
 -12,
 15,
 5,
 -8,
 13,
 26,
 3,
 25,
 5,
 6,
 -5,
 41,
 -20,
 19,
 10,
 -16,
 19,
 23,
 -4,
 15,
 7,
 -11,
 2,
 7,
 42,
 -24,
 -1,
 -1,
 -8,
 1,
 -18,
 3,
 5,
 32,
 14,
 14,
 -14,
 -23,
 2,
 -7,
 30,
 16,
 47,
 -5,
 7,
 16,
 -7,
 -20,
 30,
 8,
 37,
 5,
 35,
 -11,
 -4,
 -33,
 -3,
 -11,
 34,
 -18,
 -14,
 -1,
 15,
 3,
 4,
 28,
 8,
 8,
 -9,
 3,
 6,
 1,
 -35,
 -9,
 9,
 3,
 18,
 -1,
 0,
 23,
 10,
 -16,
 -20,
 27,
 19,
 3,
 32,
 11,
 3,
 11,
 9,
 1,
 18,
 -14,
 -24,
 -1,
 -40,
 -16,
 -15,
 -9,
 8,
 7,
 -8,
 28,
 -25,
 22,
 9,
 14,
 -9,
 0,
 38,
 -14,
 -31,
 -12,
 -5,
 -10,
 -8,
 15,
 2,
 -3,
 -21,
 17,
 7,
 1,
 -3,
 26,
 -11,
 6,
 33,
 16,
 -7,
 8,
 15,
 -18,
 34,
 16,
 5,
 -7,
 33,
 -13,
 3,
 17,
 -2,
 25,
 -8,
 -6,
 9,
 -2,
 -9,
 -7,
 15,
 10,
 15,
 -5,
 10,
 -20,
 9,
 14,
 7,
 -7,
 -22,
 15,
 26,
 31,
 22,
 4,
 0,
 6,
 -3,
 2,
 16,
 13,
 13,
 -1,
 3,
 -4,
 -3,
 4,
 10,
 -11,
 16,
 53,
 21,
 45,
 23,
 3,
 6,
 22,
 -22,
 4,
 -7,
 0,
 15,
 -31,
 -5,
 23,
 2,
 -10,
 1,
 -9,
 -3,
 18,
 -7,
 15,
 9,
 5,
 0,
 -2,
 2,
 10,
 -1,
 43,
 26,
 -7,
 7,
 13,
 42,
 8,
 -10,
 0,
 -1,
 -15,
 4,
 23,
 -10,
 9,
 -29,
 28,
 6,
 -19,
 -6,
 0,
 15,
 -7,
 24,
 9,
 4,
 -3,
 -16,
 13,
 24,
 26,
 0,
 -2,
 -14,
 1,
 25,
 6,
 45,
 -10,
 29,
 9,
 27,
 -19,
 10,
 7,
 -7,
 3,
 -6,
 18,
 7,
 -2,
 -11,
 10,
 21,
 -3,
 15,
 2,
 -21,
 6,
 15,
 -17,
 -2,
 23,
 -16,
 14,
 29,
 3,
 2,
 30,
 -12,
 21,
 19,
 23,
 -11,
 17,
 -6,
 28,
 28,
 5,
 -9,
 10,
 12,
 0,
 16,
 45,
 8,
 11,
 -1,
 11,
 1,
 -11,
 -5,
 15,
 3,
 -21,
 1,
 -12,
 7,
 -29,
 -6,
 19,
 22,
 19,
 2,
 -13,
 -2,
 44,
 -4,
 7,
 -30,
 5,
 10,
 4,
 29,
 17,
 1,
 31,
 2,
 -8,
 27,
 -28,
 0,
 7,
 15,
 -7,
 21,
 -3,
 -4,
 11,
 -4,
 17,
 3,
 -12,
 12,
 -17,
 0,
 -12,
 -1,
 16,
 15,
 19,
 5,
 -1,
 25,
 -5,
 -24,
 13,
 0,
 14,
 0,
 -28,
 4,
 -10,
 22,
 22,
 4,
 -29,
 23,
 5,
 3,
 20,
 -4,
 -21,
 7,
 9,
 8,
 21,
 -12,
 17,
 -9,
 -28]

In [ ]:
# Categorising

# income bracket range from 
# 0-25000; 25000-50000; 50000-75000; 75000-100000; 100000-125000;

#### App Use (Post-)Data